/*
 * Estilos de tu proyecto
 */

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.back {
    display: flex;
    align-items: center;
    
}

.iframe aside {
    color: black;
}






/* header  */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 85vh;
    background: url(../assets/images/hero.gif)  no-repeat center;
    background-size: cover;
    font-size: 25px;
}

header img {
    width: 10%;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.logo {
    width: 45%;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    color: inherit;
    
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 5px;
}

nav a:hover,  nav a:active{
    border: solid 1px white;
}



/* asides */

header aside, .iframe aside {
    display: flex;
    flex-direction: column;
    margin: 1px;
    padding: 15px;
    align-self: center;
    background-color: white;
    opacity: ;
    width: 56.5%;
}

.btn {
    display: inline-block;
    margin: 10px;
}

.btn a, h3 {
    font-size: 15px;
    color: black;
}

p {
    color: black;
    font-size: 8px;
}

.btn-rosa {
    background-color: #FF00BF; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
  }
  
  .btn-rosa:hover {
    background-color: rgb(189, 99, 166); 
  }

  h1 {
      color: #352384;
  }

  input {
      width: 90%;
      border-width: 0 0 1px 0;
      border-color: rgb(88, 87, 87)
  }

/* first section */

.purple {
    color: white;
    background-image: linear-gradient(rgb(76, 15, 100), #2B1E66);
    opacity: .9;
    margin: 0px;
}

.purple h3, .purple h2 {
    color: inherit
}

.purple h3 {
    font-size: 15px;
    font-weight: 100;
}

/* scnd section */


